.bg-color{
    background: rgb(243, 234, 234);
}
.bg-color-one{
    background: rgb(214, 211, 213);
}
.product-item img{
    overflow: hidden;
}
.product-item img{
    cursor: pointer;
    transition: .3s linear;
}
.product-item img:hover{
    transform: scale(1.5);
}